.botao {
  background-color: #202230;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 30px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 30px 0;
}

.botao:hover {
  background-color: #202230ea;
  color: #ff95f3;
}
